showcase/2026-01-14_23-34.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-23.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-36_2.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-36.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-49.png filter=lfs diff=lfs merge=lfs -text
showcase/example.mp4 filter=lfs diff=lfs merge=lfs -text
showcase/google-2026-01-15_20.30.01.mkv filter=lfs diff=lfs merge=lfs -text
showcase/primes-2026-01-15_20.32.53.mkv filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-14_22-22_1.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-14_23-33_1.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-14_23-35.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-29.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-51.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_16-01.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_16-09.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_20-58.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_22-14.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-14_23-34_1.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-21_1.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-24.png filter=lfs diff=lfs merge=lfs -text
showcase/bar2-2026-01-15_20.24.33.mkv filter=lfs diff=lfs merge=lfs -text
showcase/output.mkv filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_22-15.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-14_23-33.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-21.png filter=lfs diff=lfs merge=lfs -text
showcase/amazon-2026-01-15_20.36.52.mkv filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-26.png filter=lfs diff=lfs merge=lfs -text
showcase/bar3-2026-01-15_20.28.09.mkv filter=lfs diff=lfs merge=lfs -text
showcase/barabasi-2026-01-14_23.41.44.mkv filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-14_23-01.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-15.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-37.png filter=lfs diff=lfs merge=lfs -text
showcase/email-2026-01-15_20.34.01.mkv filter=lfs diff=lfs merge=lfs -text
showcase/example.mkv filter=lfs diff=lfs merge=lfs -text
showcase/watts-2026-01-15_20.40.17.mkv filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_22-09.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_22-11.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_22-12.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_22-13.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_22-17_1.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_16-05.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-11_22-17.png filter=lfs diff=lfs merge=lfs -text
showcase/2026-01-15_15-36_1.png filter=lfs diff=lfs merge=lfs -text
showcase/factor-2026-01-14_23.38.59.mkv filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
